body{
    margin-right: 100px;
    margin-left: 100px;
    padding: 0;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family:'Poppins', sans-serif;
}
.logo{
    color: darkgoldenrod;
    font-family:'Poppins', sans-serif;
}
.item{
    text-decoration: none;
   color: black;

}
.container{
    display: contents;
}
.container:hover{
    color: aquamarine;
}
