body{
    margin-left: 100px;
    margin-right: 100px;
    padding: 0%;
    margin-top: 50px;
}
.logo{
    width: 45px;
    height: 45px;
}
.main{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
   border-top-width: 10px;
   font-family: 'Poppins', sans-serif;
}
.link{
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.main,link{
    height: 60px;

}
.main-link{
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
.eng1{

    text-decoration: none;
}